.reveal pre {
    box-shadow: 0 0 0px rgba(0,0,0,0);
}
.reveal pre.small {
    font-size: 16px;
}
.reveal pre.tiny {
    font-size: 13px;
}
.reveal ol {
    margin-bottom: 10px;
}

.reveal ul.algorithm {
    list-style: none;
}

.reveal p {
    font-size: 30px;
}

p.math.tiny, span.math.tiny  {
    font-size: 11px;
}
p.math.small, span.math.small {
    font-size: 16px;
}
p.math, span.math {
    font-size: 21px;
}

p.small, span.small, ol.small li , ul.small li ,
div.small > p, div.small > ol > li , div.small > ul > li {
    font-size: 21px;
    line-height: 1em;
}

p.tiny, span.tiny, ol.tiny li , ul.tiny li {
    font-size: 16px;
    line-height: 1em;
}

div.valign-frame img {
    vertical-align: middle;
    max-height: 300px;
}

/* list */

.reveal li {
    list-style: none;
    line-height: 1em;
    margin-bottom: .2em;
}

li:before {
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -0.6em;
    top: -0px;
    content:'• ';
    color: gray;
}

p.item:before {
    content: "• ";
}

/* frame */
p.frame {
    border-radius: 10px;
    padding: 6px;
    border: 3px solid;
    margin: 10px auto;
    width: 100%;
}
p.frame.small{
    border: 1px solid;
}
p.frame.red {
    background-color:rgba(255,69,0,0.3);
    border-color: OrangeRed;
}
p.frame.green {
    background-color:rgba(34,139,34,0.3);
    border-color: ForestGreen;
}
p.frame.brown {
    background-color:rgba(210,105,30,0.3);
    border-color: Chocolate;
}
p.frame.yellow {
    background-color:rgba(255,215,0,0.3);
    border-color: Gold;
}
p.frame.blue {
    background-color:rgba(30,144,255,0.3);
    border-color: DodgerBlue;
}

span.pre {
    font-family: Consolas, "Courier New" Courier monospace;
    font-size: 0.8em;
}

p.left {
    text-align: left;
}

.reveal .w10 { width: 10%; }
.reveal .w20 { width: 20%; }
.reveal .w30 { width: 30%; }
.reveal .w40 { width: 40%; }
.reveal .w50 { width: 50%; }
.reveal .w60 { width: 60%; }
.reveal .w70 { width: 70%; }
.reveal .w80 { width: 80%; }
.reveal .w90 { width: 90%; }
.reveal .w100 { width: 100%; }

ol.mb1 li, ul.mb1 li { margin-bottom: 1px; }
ol.mb2 li, ul.mb2 li { margin-bottom: 2px; }
ol.mb3 li, ul.mb3 li { margin-bottom: 3px; }
ol.mb4 li, ul.mb4 li { margin-bottom: 4px; }
ol.mb5 li, ul.mb5 li { margin-bottom: 5px; }
ol.mb6 li, ul.mb6 li  { margin-bottom: 6px; }
ol.mb7 li, ul.mb7 li  { margin-bottom: 7px; }
ol.mb8 li, ul.mb8 li  { margin-bottom: 8px; }
ol.mb9 li, ul.mb9 li  { margin-bottom: 9px; }
ol.mb10 li, ul.mb10 li  { margin-bottom: 10px; }

/* layout */
div.col {
    float: left;
    width: 50%;
}

.colclear {
    display: inline-block
}

/* wsn applications */
div.app  {
    float: left;
    margin: 5px;
    padding: 7px;
    border: 0px solid DodgerBlue;
    border-radius: 10px;
    width: 160px;
    height: 127px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.55);
}

div.app h3  {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 6px;
}

div.app p  {
    font-size: 11px;
    font-family: "Roboto";
    font-weight: thin;
    margin: 0;
}

div#lokalizacija-svg {
    float: left;
    margin-right: 107px;
}
div#lokalizacija {
    float:left;
}
