.node {
  stroke: #fff;
  stroke-width: 2px;
  fill: lightblue;
}

.node.anchor {
  fill: steelblue;
}

.link {
  stroke: #999;
  stroke-width: 2px;
  stroke-opacity: .6;
}

rect.err {
    fill: DodgerBlue;
}
text.err {
    font-size: 11px;
    font-family: arial, sans-serif;
    fill: DodgerBlue;
}